// Variables

@primary: #3F51B5;//#FF5722;
@dark-primary: #303F9F; // #E64A19;
@light-primary: #C5CAE9; //#FFCCBC;
@text-icons: #FFFFFF;
@accent-color: #FF4081; //#FFEB3B;
@primary-text: #212121;
@secondary-text: #757575;
@divider-color: #BDBDBD; //#757575;

/* hello */